div{
    text-align: center;
    padding-top: 200px;
}

div{
    .text{
        height: 34px;
        width: 487px;
        padding: 3px;
        overflow: hidden;
        border-radius:20px;
        }
}

div{
    .text:hover{
        box-shadow:0 2px 2px 1px rgb(161, 149, 149);
    }
}
